<div
  data-editable="array"
  data-component-key="_name"
  data-id-key="_name">
  {% for block in content_blocks %}
    <editable-array-item data-component="{{ block._name }}" data-id="{{ block._name }}">
      {% bind_include block._name
        , block %}
    </editable-array-item>
  {% endfor %}
</div>